/* You can add global styles to this file, and also import other style files */


body{
  background: #222 url('images/background.jpg') no-repeat;
    background-position: center;
    background-attachment: fixed;
}
